.container
.row
  .col-md-12
    .page-header
      %h1 My timeline
    %ul.timeline
      %li.timeline-item
        .timeline-badge
          %i.glyphicon.glyphicon-off
        .timeline-panel
          .timeline-heading
            %h4.timeline-title Thorén Business School
            %p
              %small.text-muted
                %i.glyphicon.glyphicon-time
                Communacation and Business program
      %li.timeline-item
        .timeline-badge
          %i.glyphicon.glyphicon-check
        .timeline-panel
          .timeline-heading
            %h4.timeline-title Mussum ipsum cacilds 2
            %p
              %small.text-muted
                %i.glyphicon.glyphicon-time
                11 hours ago via Twitter
      %li.timeline-item
        .timeline-badge
          %i.glyphicon.glyphicon-check
        .timeline-panel
          .timeline-heading
            %h4.timeline-title Mussum ipsum cacilds 3
            %p
              %small.text-muted
                %i.glyphicon.glyphicon-time
                11 hours ago via Twitter
          .timeline-body
            %p Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
            %p Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
      %li.timeline-item
        .timeline-badge
          %i.glyphicon.glyphicon-check
        .timeline-panel
          .timeline-heading
            %h4.timeline-title Mussum ipsum cacilds 4
            %p
              %small.text-muted
                %i.glyphicon.glyphicon-time
                11 hours ago via Twitter
          .timeline-body
            %p Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.



.education
  %h5.edu-text Education
  - data.education.each do |education|
    %h4.edu-text= education[:school]
    %p.edu-text= education[:major]
    %p.edu-text= education[:description]


.work_experience
  %h4 Work experience
  -data.work_experience.each do |work_experience|
    %h4= work_experience[:title]
    %p= work_experience[:company]
    %p= work_experience[:employment_period]
    %p= work_experience[:location]
