.education
  %h5.edu-text Education
  - data.education.each do |education|
    %h4.edu-text= education[:school]
    %p.edu-text= education[:major]
    %p.edu-text= education[:description]


.work_experience
  %h4 Work experience
  -data.work_experience.each do |work_experience|
    %h4= work_experience[:title]
    %p= work_experience[:company]
    %p= work_experience[:employment_period]
    %p= work_experience[:location]
