.container-fluid
  %h2 PORTFOLIO


.education
  %h3 Education
  -data.education.each do |education|
    %h4= education[:school]
    %p= education[:major]


.work_experience
  %h3 Work experience
  -data.work_experience.each do |work_experience|
    %h4= work_experience[:title]
    %p= work_experience[:company]
    %p= work_experience[:employment_period]
    %p= work_experience[:location]
