.container-fluid
  %h2 PORTFOLIO

.image
  %img.home{:alt => "Code quote", :src => "https://victorramosesimecu.files.wordpress.com/2015/09/joke-programmer-is-alternate.jpg"}/

%h1 Education
.education
  - data.education.each do |education|
    %h4= education[:school]
    %p= education[:major]

%h1 Work experience
.work_experience
  - data.work_experience.each do |work_experience|
    %h4= work_experience[:title]
    %p= work_experience[:company]
    %p= work_experience[:employment_period]
    %p= work_experience[:location]

%h1 My Projects
.container-card
.card-deck
  -data.projects.each do |project|
    .card
      %img.card-img-top{:alt => "Card image", :src => "https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2011/06/Computer-Code.jpg"}/
      .card-body
        %h5.card-title= project[:name]
        %p.card-text= project[:description]
        .d-flex.justify-content-between.align-items-center
      .btn
        %a.fa.fa-github{:href => "https://github.com/isabellelii"}
.card-deck
  -data.projects.each do |project|
    .card
      %img.card-img-top{:alt => "Card image", :src => "https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2011/06/Computer-Code.jpg"}/
      .card-body
        %h5.card-title= project[:name]
        %p.card-text= project[:description]
        .d-flex.justify-content-between.align-items-center
      .btn
        %a.fa.fa-github{:href => "https://github.com/isabellelii"}
